<div class=row>
    <h1>
        Educacion 
    </h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
    <li>
    <h1>
        estudio 1
    </h1>- <h3>(years)</h3>
    
    <p>
     ipsum dolor sit, amet consectetur adipisicing elit.
    Amet asperiores ratione hic optio quas autem veritatis 
    quaerat delectus esse porro eaque ipsa facere ea aperiam, 
    modi aliquam debitis inventore deserunt. </p>
    
        </ul>
    
        <ul>
            <li>
            <h1>
                estudio 2
            </h1>- <h3>(years)</h3>
            
            <p>
             ipsum dolor sit, amet consectetur adipisicing elit.
            Amet asperiores ratione hic optio quas autem veritatis 
            quaerat delectus esse porro eaque ipsa facere ea aperiam, 
            modi aliquam debitis inventore deserunt. </p>
            
                </ul>
    
                <ul>
                    <li>
                    <h1>
                        estudio 3
                    </h1>- <h3>(years)</h3>
                    
                    <p>
                     ipsum dolor sit, amet consectetur adipisicing elit.
                    Amet asperiores ratione hic optio quas autem veritatis 
                    quaerat delectus esse porro eaque ipsa facere ea aperiam, 
                    modi aliquam debitis inventore deserunt. </p>
                    
                        </ul>
                       
            
    </div>
    
    </div>
    
